@page "/"
@inject AlarmService alarmService

<PageTitle>Index</PageTitle>

<h1>Glöggli</h1>

<button class="btn btn-secondary" disabled="@isSubscribed" @onclick="Subscribe">Subscribe</button>
<button class="btn btn-secondary" disabled="@IsUnsubscribed" @onclick="Unsubscribe">Unsubscribe</button>

<button class="btn btn-primary" disabled="@isBellActivated" @onclick="ActivateBell">Alarm auslösen!</button>

@code {
	private bool isSubscribed;
	private bool isBellActivated = false;

	private async Task ActivateBell()
	{
		await alarmService.SendAlarmAsync();
		isBellActivated = true;
	}

	private bool IsUnsubscribed => !isSubscribed;

	private async Task Subscribe()
	{
		await alarmService.Subscribe();
		isSubscribed = true;
	}

	private async Task Unsubscribe()
	{
		await alarmService.Unsubscribe();
		isSubscribed = false;
	}
}
