@page "/alarm"

<h3>AlarmGlöggli</h3>

<div class="row">
<div class="col-7">
	<button class="btn btn-primary" @onclick="FireAlarmAsync">
		<p>
			Alarm
		</p>
		<img src="pngtree-bell-png-clipart_1395158.jpg " />
	</button>
</div>
<div class="col-5">
	<EditForm Model="ServerResponse">
		<InputTextArea class="form-control" @bind-Value="ServerResponse" style="height:700px;" />
	</EditForm>
</div>
</div>
